body{
    background-image: url('images/galaxy.webp');
    background-size: cover;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
#title{
    font-size: 200px;

}
.btn{
    width: 200px;
    height: 100px;
    padding: 6px 12px;
    background: white;
    border: none;
    color:#82a5ca;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
#title{
    text-shadow: 5px 5px 10px blacks;
}
#underline{
    text-decoration: underline;
}